<div>
  <h2 id="page-heading" data-cy="CidadeHeading">
    <span jhiTranslate="myApp.cidade.home.title">Cidades</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myApp.cidade.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cidade"
        [routerLink]="['/cidade/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myApp.cidade.home.createLabel"> Criar novo Cidade </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cidades?.length === 0">
    <span jhiTranslate="myApp.cidade.home.notFound">Nenhum Cidade encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="cidades && cidades.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">Código</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nome">
            <div class="d-flex">
              <span jhiTranslate="myApp.cidade.nome">Nome</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="uf">
            <div class="d-flex">
              <span jhiTranslate="myApp.cidade.uf">Uf</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cliente.id">
            <div class="d-flex">
              <span jhiTranslate="myApp.cidade.cliente">Cliente</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cidade of cidades; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cidade', cidade.id, 'view']">{{ cidade.id }}</a>
          </td>
          <td>{{ cidade.nome }}</td>
          <td>{{ cidade.uf }}</td>
          <td>
            <div *ngIf="cidade.cliente">
              <a [routerLink]="['/cliente', cidade.cliente.id, 'view']">{{ cidade.cliente.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/cidade', cidade.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button type="submit" [routerLink]="['/cidade', cidade.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(cidade)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
